.description-image {
  width: 450px;
  height: 450px;
}
.description-custom-title {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 25px;
  padding-left: 200px;
}
.description-title {
  margin: 0.2em 0.2em;
}


.custom-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0.2em 0.2em;
}

.description-paragraph {
  width: 320px;
  color: rgb(114, 114, 114);
  font-size: 17px;
  margin: 20px 0px 0px 210px;
}
.description-button {
  margin: 30px 10px 20px 380px;
  width: 130px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(78, 173, 228);
  border-color: rgb(78, 173, 228);
  border-radius: 5px;
  cursor: pointer;
}

