.description-image {
  width: 450px;
  height: 420px;
  border-radius: 20px;
}
.description-custom-title {
  font-size: 25px ;
  padding-left: 100px;
  margin-bottom: 20px;
}
.description-title {
  margin: 0.2em 0.2em;
}

.description-button {
  margin: 30px 10px 20px 80px;
  width: 130px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(78, 173, 228);
  border-color: rgb(78, 173, 228);
  border-radius: 5px;
  cursor: pointer;
}
.ant-typography.ant-typography-rtl.description-paragraph {
  color: rgb(114, 114, 114);
  font-size: 17px;
  line-height: 1.8;
  margin: 0.2em 0.2em;
  text-align: right;
}
.custom-title {
  font-size: 25px ;
  margin-bottom: 20px;
  margin-left: 50px;
}
.ant-btn.ant-btn-round.ant-btn-primary.ant-btn-lg.ant-btn-rtl.description-button {
  margin: 40px 10px 20px 200px;
}
.description-section{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}