.custom-title {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 20px 410px;

    }
    .title {
    margin: 0.2em 0.2em;
    } 
    .service-image{
        width: 350px;
        height: 350px;
        margin: 45px 150px 0px 0px;
        display: block;
        
    }
    .service-paragraph{
        width: 300px;
        margin: 0px 0px 20px 20px;
        color: rgb(114, 114, 114);
        font-size: 16px;
    }
    
    .service-button{
        margin: 30px 0px 20px 270px;
        width: 130px;
        height: 30px;
        background-color: rgb(78, 173, 228);
        color: rgb(255, 255, 255);
        border-color: rgb(78, 173, 228);
        border-radius: 5px;
        cursor: pointer;
    }
    