.not-found{
  padding-top: 15px;
  text-align: center;
}
.not-found-title{
  color: gray !important;
}
.go-home-button{
  border-radius: 3px !important;
  margin-top: 10px;
  border-color: #f2473f !important;
  background: #f2473f !important;
}