
.section .ant-comment-avatar img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
}

.ant-comment-avatar {
  left: 10px;
}

.ant-comment-avatar:hover {
  cursor: default;
}

.ant-comment-content-author:hover {
  cursor: default;
}

.section .comment--title {
  font-size: 23px;
  font-weight: 400;
  color: #000;
}

.section .comment--title:hover {
  color: #000;
}

.comment--description {
  margin: -10px 10px 0px 0px;
  font-size: 13px;
  color: #595b5f;
}
