.contact-custom-title {
    display: flex;
    font-size: 30px;
    margin: 35px 0px 0px 35px;
 }
 .contact-title {
    margin: 0.3em 0.3em;
    /* margin-left: 10px; */
 }
 .imageline{
     margin-top: 8px;
 }
 .contact-form {
width: 500px;
/* margin: 0px 0px 20px 0px; */

 }
 .contact-image{
    margin: 40px 70px 0px 0px;
    display: block;
    
}
/* .contact-name{
    margin-right: 20px;
    color: rgb(207, 42, 42);
} */
/* .contact-button{
    margin: 30px 150px 20px 37px;
    width: 130px;
    height: 30px;
    background-color: rgb(78, 173, 228);
    color: rgb(255, 255, 255);
    border-color: rgb(78, 173, 228);
    border-radius: 5px;
    cursor: pointer;
}
.contact-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(50, 151, 50);
} */