.description-image {
  width: 450px;
  height: 550px;
  margin: 45px 150px 20px 200px;
}
.contact-custom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0px 12px 311px;
  font-size: 25px;
}
.contact-title {
  margin: 0.2em 0.2em;
}
.contact-section {
  margin: 0px 180px 00px 00px;
}
.contact-form {
  width: 500px;
  margin: 0px 24px 20px 34px;
  padding-right: 34px;
}
.contact-label {
  font-size: 16px;
  margin: 0px 330px 4453px 1530px;
  color: rgb(201, 51, 51);
}
.contact-button {
  margin: 10px 20px 20px 370px;
  width: 130px;
  height: 30px;
  background-color: rgb(78, 173, 228);
  color: rgb(255, 255, 255);
  border-color: rgb(78, 173, 228);
  border-radius: 5px;
  cursor: pointer;
}
.contact-input {
  width: 400px;
  height: 30px;
  margin: 2220px 022px 4222px 2210px;
  border-radius: 5px;
}
.custom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0px 20px 410px;
}
.title {
  margin: 0.2em 0.2em;
}

.content-paragraph {
  width: 300px;
  color: rgb(114, 114, 114);
  font-size: 16px;
  margin: 0px 0px 20px 20px;
}
.content-button {
  margin: 30px 10px 20px 50px;
  width: 130px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(78, 173, 228);
  border-color: rgb(78, 173, 228);
  border-radius: 5px;
  cursor: pointer;
}
.content-section {
  margin: 0px 200px 0px 0px;
}
