:root {
  --main: #00ADEE
}

@media only screen and (min-width: 1920px) {
  .page--layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page--content {
    max-width: 1920px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ADEE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ADEE;
}