.custom-title {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 150px 20px 310px;

    }
    .title {
    margin: 0.2em 0.2em;
    } 
    .image{
        width: 400px;
        height: 400px;
        margin: 35px 70px 20px 200px;
        display: block;
        
    }
    .paragraph{
        width: 300px;
        margin: 0px 120px 20px 200px;
        color: rgb(114, 114, 114);
        font-size: 16px;
    }
    .section{
        display: block;
        margin: 30px 150px 20px 0px;
        width: 100%;
    }
    .button{
        margin: 30px 150px 20px 350px;
        width: 130px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        color: rgb(78, 173, 228);
        border-color: rgb(78, 173, 228);
        border-radius: 5px;
        cursor: pointer;
    }
    