.who-custom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 40px 10px 20px 450px;
}
.who-title{
  margin: 0.2em 0.2em;
}
.Who-line{
  margin-top: -9px;
}
.who-paragraph {
  width: 300px;
  color: rgb(114, 114, 114);
  font-size: 16px;
}
.who-button {
  margin: 30px 10px 20px 50px;
  width: 130px;
  height: 30px;
  background-color: rgb(119, 27, 27);
  color: rgb(78, 173, 228);
  border-color: rgb(78, 173, 228);
  border-radius: 5px;
  cursor: pointer;
}
.Who-image{
  margin: 40px 140px 0px 100px;
  display: block;
  
}