 .custom-title-center {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 30px;
 }
 .custom-title-right{
   display:flex;
   justify-content: start;
   align-items: center;
   margin-right: 30px;
   margin-bottom: 30px;
 }
 .title {
    margin: 0.2em 0.2em;
 }
 