 .custom-title-center {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 35px;
 }
 .custom-title-right{
   display:flex;
   justify-content: start;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 35px;
 }
 .title {
    margin: 0.2em 0.2em;
 }
 