.footer-row{
  background-color: #E5F7FD;
  width: calc(100vw - 70px);
  margin: 40px auto 0 !important;
  padding: 30px 30px 0;
  border-radius: 25px 25px 0 0;
}
.copyright{
  text-align: center;
  border-top: 3px solid #fff;
  width: 100%;
  padding-top: 1em;
}
.categores-list{
  color: #00000073;
  font-weight: bold;
  box-shadow: 0 2px #00000004;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.categores-list:hover,
.email-link:hover{
  color: #40a9ff !important;
}