.profile-cover{
  max-width: 100%;
  max-height: 270px;
  width: 100vw;
  object-fit: cover;
}
.cover-image-container{
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.overlay{
  background-color: rgb(229 247 253 / 54%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.user-card{
  position: absolute !important;
  z-index: 11;
  background: transparent !important;
  border: 0 !important;
  right: 20px;
  top: 20px;
}
.user-meta{
  display: flex;
  align-items: center;
  gap: 15px;
}
.ant-card-meta-title{
  color: #333 !important;
  font-weight: 800 !important;
  font-size: 20px !important;
}
.user-avatar{
  font-size: 64px;
  color: gray !important;
  width: 90px !important;
  height: 90px !important;
  line-height: 100px !important;
}
.my-book{
  background-color: white;
  box-shadow: 1px 1px 5px #ddd;
  padding: 24px 12px;
  border-radius: 10px;
  position: relative;
  top: -120px;
  z-index: 1111;
}
.all-book{
  text-align: center;
  margin-bottom: 20px !important;
}
.book-table{
  margin-bottom: 20px;
}
.ant-card-meta-description{
  color: #333 !important;
}
.ant-descriptions-item-content{
  font-weight: bold;
}