.header-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-description{
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.header-button{
  border-radius: 150px;
  margin-top: 12px;
}
@media (min-width: 1440px){
  .title{
    font-size: 26px !important;
  }
  .header-description{
    right: 170px;
  }
  .header-button{
    font-size: 20px !important;
    height: 40px !important;
    padding: 4px 35px;
  }
}
@media (max-width: 992px){
  .header-description{
    right: 70px;
  }
}
@media (max-width: 768px){
  .header-description{
    right: 40px;
  }
}
@media (max-width: 768px){
  .title{
    font-size: 18px !important;
  }
}
@media (max-width: 480px){
  .title{
    font-size: 13px !important;
  }
  .header-description{
    right: 20px;
  }
}
@media (max-width: 400px){
  .title{
    font-size: 10px !important;
  }
  .header-description{
    right: 10px;
  }
  .header-button{
    font-size: 10px !important;
    height: 22px !important;
    line-height: 1 !important;
    padding: 3px 10px !important;
  }
}