.ant-modal-body {
  display: flex !important;
  justify-content: center !important;
}
.ant-tabs {
  width: 90% !important;
}
.icon-style {
  color: #c0c0c0 !important;
}
.input {
  border: 1px solid #F2F2F2 !important;
}
.ant-form-item {
  margin-bottom: 5px !important;
}