.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0px;
}

.login {
  color: var(--main);
}

.ant-menu-horizontal {
  border: none;
}

.ant-menu-horizontal > .ant-menu-item::after {
  content: none;
}

.logout {
  color: red;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  padding: 0 5px;
}

.menu_left__items {
  gap: 10px;
}

.ant-dropdown-menu,.ant-menu {
  text-align: right;
}

.menu__mobile-button {
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

.menu_right, .menu_left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_right, .menu_left {
    display: none;
  }
}
